<% content_for :title do %>George Micro<% end %>
<% content_for :description do %>Website of George Micro<% end %>
<section>
  <img src="http://lorempixel.com/1170/600/transport">
</section>
<section>
  <div class="column">
    <h3><%= t(:stay_in_touch) %></h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: false, :placeholder => t(:your_email_address) %>
          <br/>
          <%= f.button :submit, t(:signup), :class => "submit" %>
        <% end %>
    </div>
  </div>
</section>
